<!-- 	<label for="username">Username:</label>
	<br/>
	<input type="text" id="username" />
	<br/>
	<label for="password">Password:</label>
	<br/>
	<input type="password" id="password" /> -->

	<div class="input-group">
	  	<span class="input-group-addon">Username</span>
	 <input type="text" class="form-control" >
	</div>

	<div class="input-group">
	  	<span class="input-group-addon">Password</span>
	 <input type="text" class="form-control" >
	</div>

	<div>
		<a href="#" class="btn btn-primary btn-large">Login</a>
	</div>
